# Gemini API Key for server-side transcription
GEMINI_API_KEY=

# Application Passcodes
VITE_OWNER_PASSCODE=fussilat9
VITE_DIRECTOR_PASSCODE=umer
VITE_WORKSPACE_PASSCODE=gemec

# Domain Configurations
VITE_INGRESS_A_RECORD=34.120.185.90
VITE_INGRESS_CNAME_TARGET=ingress.ais-pre-al2z7o2pm4qu5zdopssman.europe-west2.run.app
